include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt
recursive-include aimfast/ *.yml
recursive-include aimfast/tests/files *.json *.html *.fits *.txt
recursive-include doc/ *.rst *.py
